# This is a basic workflow that is manually triggered

name: Aqa-proka CI Manual Start

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      branch:
        # Friendly description to be shown in the UI instead of 'name'
        description: "Branch to run tests on"
        # Default value if no value is explicitly provided
        default: "master"
        # Input has to be provided for the workflow to run
        required: true
        # The data type of the input
        type: choice
        options:
          - master
          - develop
      test-suite:
        description: "Test suite to run"
        required: true
        default: "AllTests.xml"
        type: choice
        options:
          - All Tests
          - Smoke Tests

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "run-tests"
  run-tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Runs a single command using the runners shell
      - name: Checkout selected branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run selected test suite
        run: |
            case "${{ github.event.inputs.test-suite }}" in
              "All Tests")
                mvn clean test -Dselenide.headless=true -DsuiteXmlFile=src/test/resources/AllTests.xml
                ;;
              "Smoke Tests")
                mvn clean test -Dselenide.headless=true -DsuiteXmlFile=src/test/resources/Smoke.xml
                ;;
            esac

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages
      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: target/allure-results
          allure_history: allure-history
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history